body{
    background-color: #2E8B57;
}
.row{
    margin-bottom: 20px;
    padding: 20px;
    background-color: #FFFAFA;
}
.col{
    background-color: #FFFAFA; 
}
.col-4{
    background-color: #FFFAFA; 
}
.col-8{
    background-color: #FFFAFA; 
}
.container{
    margin-top:20px;
    border-radius: 15px;
    margin-bottom:20px;
}