body{
    background-color: #2E8B57;
}
.col{
    background-color: #FFFAFA;
}
.container{
    margin-top:20px;
    border-radius: 15px;
}

.perfil{
    width: 450px;
    height: 458px;
    margin-left: 2%;

}