body{
    background-color: #2E8B57;
}
.col{
    background-color: #FFFAFA;
}
.container{
    margin-top:20px;
    border-radius: 15px;
}

.perfil{
    width: 10px;
    height: 10px;
    margin-left: 2%;

}

.foto{
    float: left;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
  }